# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Exports and reports
exports/*
reports/*

# Keep folder structure
!exports/.gitkeep
!reports/.gitkeep

# Local database
data/*.db
data/*.sqlite
data/*.sqlite3

# Keep data folder
!data/.gitkeep